/* Unrelated styles */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-size: 18px;
  font-family: 'Lato', helvetica, sans-serif;
  background-color: #eee;
}

header {
  height: 80px;
  width: 100%;
  line-height: 80px;
  background-color: #333;
  padding: 0 20px;
  text-align: center;
  color: #ffa700;
}

.column {
  background-color: #fff;
  border: solid 5px #eee;
}

h3 {
  text-align: left;
  background-color: #fff;
  margin: 0;
  padding: 20px 0;
}
